[Desktop Entry]
Encoding=UTF-8
Name=Link to 3D-Print-Optimized Geometric Chess Set Pieces by chuckamcknight - Thingiverse
Type=Link
URL=https://www.thingiverse.com/thing:4168753
Icon=text-html
